<!DOCTYPE html>
<html>

<head>
    <title>camera.py</title>
    <!-- Adds CSS for styling this site -->
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <header>
        <h1>camera.py</h1>
    </header>

    <section>
        <nav>
            <ul>
                <h2>Links & Info</h2>

                <!-- Links -->
                <li>
                    <a href="https://github.com/BlueStamp-Engineering-2022/Krishay_BSE_Project">GitHub Repository</a>
                </li>
                <li><a href="https://bluestamp-engineering-2022.github.io/Krishay_BSE_Project/">Website</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('design') }}">Design</a></li>
                <li><a href="{{ url_for('camerapy') }}" class="current-page">camera.py</a></li>
                <li><a href="{{ url_for('mailpy') }}">mail.py</a></li>
                <li><a href="{{ url_for('mailpy') }}">main.py</a></li>
            </ul>
        </nav>

        <article>
            <!-- Information about camera.py -->
            <p>
                This file contains a class called VideoCamera that uses OpenCV to define a variety of methods for
                object detection.
            </p>
        </article>
    </section>
</body>

</html>