<!DOCTYPE html>
<html lang="en">

<head>
    <title>Design</title>
    <!-- Adds CSS for styling this site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <h1>Design</h1>
    </header>

    <section>
        <nav>
            <ul>
                <h2>Links & Info</h2>

                <!-- Links -->
                <li>
                    <a href="https://github.com/BlueStamp-Engineering-2022/Krishay_BSE_Project">GitHub Repository</a>
                </li>
                <li><a href="https://bluestamp-engineering-2022.github.io/Krishay_BSE_Project/">Website</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('design') }}" class="current-page">Design</a></li>
                <li><a href="{{ url_for('camerapy') }}">camera.py</a></li>
                <li><a href="{{ url_for('mailpy') }}">mail.py</a></li>
                <li><a href="{{ url_for('mainpy') }}">main.py</a></li>
            </ul>
        </nav>

        <article>
            <!-- Information about the project -->
            <p>Here is a diagram of the project setup. The camera sensor is first connected to the Raspberry Pi.
                <br><br>There are different pieces of software involved to allow the security function of the
                camera to work properly. Click on the links to the left (or above) to see information about the
                different files in this diagram.
            </p>

            <img src="{{ user_image }}" alt="Diagram of setup" width="574px" height="500px">
        </article>
    </section>
</body>

</html>
