<!DOCTYPE html>
<html lang="en">

<head>
    <title>mail.py</title>
    <!-- Adds CSS for styling this site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <h1>mail.py</h1>
    </header>

    <section>
        <nav>
            <ul>
                <h2>Links & Info</h2>

                <!-- Links -->
                <li>
                    <a href="https://github.com/BlueStamp-Engineering-2022/Krishay_BSE_Project">GitHub Repository</a>
                </li>
                <li><a href="https://bluestamp-engineering-2022.github.io/Krishay_BSE_Project/">Website</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('design') }}">Design</a></li>
                <li><a href="{{ url_for('camerapy') }}">camera.py</a></li>
                <li><a href="{{ url_for('mailpy') }}" class="current-page">mail.py</a></li>
                <li><a href="{{ url_for('mainpy') }}">main.py</a></li>
            </ul>
        </nav>

        <article>
            <!-- Information about mail.py -->
            <p>
                This file has a method called sendEmail() that constructs and sends an email to a specified user.
                <br><br>
                Whenever an object is detected, that method runs. It first builds the email, adding important things
                like the image of the object and the title of the image.
                <br><br>
                After that, it just logs in to a specified email account and sends the message to a certain email
                address.
            </p>
        </article>
    </section>
</body>

</html>
