<!DOCTYPE html>
<html lang="en">

<head>
    <title>main.py</title>
    <!-- Adds CSS for styling this site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <h1>main.py</h1>
    </header>

    <section>
        <nav>
            <ul>
                <h2>Links & Info</h2>

                <!-- Links -->
                <li>
                    <a href="https://github.com/BlueStamp-Engineering-2022/Krishay_BSE_Project">GitHub Repository</a>
                </li>
                <li><a href="https://bluestamp-engineering-2022.github.io/Krishay_BSE_Project/">Website</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('design') }}">Design</a></li>
                <li><a href="{{ url_for('camerapy') }}">camera.py</a></li>
                <li><a href="{{ url_for('mailpy') }}">mail.py</a></li>
                <li><a href="{{ url_for('mainpy') }}" class="current-page">main.py</a></li>
            </ul>
        </nav>

        <article>
            <!-- Information about main.py -->
            <p>
                Whenever the user wants to run the camera, this file should be run within a Python 2.7 environment.
            </p>
        </article>
    </section>
</body>

</html>
